@{
    PageData["title"] = "Boards";
}

<div class="container">
    div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-2">
        <form role="form">
            <fieldset>
                <h2>Add a New Board</h2>
                <hr class="colorgraph">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="text" name="title" id="title" ng-model="CreateNewBoardModel.Title" class="form-control input-lg" placeholder="Title" tabindex="1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <button type="submit" ng-click="createNewBoardForLoggedUser()" class="btn btn-primary btn-block btn-lg" tabindex="7">Add Board</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="row" ng-repeat="board in boards">
        <div class="col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-3 col-md-3 text-center">
                        <img src="http://bootsnipp.com/apple-touch-icon-114x114-precomposed.png" alt="bootsnipp"
                             class="img-rounded img-responsive" />
                    </div>
                    <div class="col-xs-9 col-md-9 section-box">
                        <a href="/lanes/{{board.Id}}">
                            <h2>
                                {{board.Title}}
                            </h2>
                        </a>
                        <hr />
                        <a href="/addLane/{{board.Id}}" class="btn btn-link pull-left">Add Lane</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>