@{
    PageData["title"] = "Boards";
}

<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-2">
            <form role="form">
                <fieldset>
                    <h2>Board Members</h2>
                    <hr class="colorgraph">
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row" ng-repeat="board in boards">
        <div class="col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-3 col-md-3 text-center">
                        <img src="http://bootsnipp.com/apple-touch-icon-114x114-precomposed.png" alt="bootsnipp"
                             class="img-rounded img-responsive" />
                    </div>
                    <div class="col-xs-9 col-md-9 section-box">
                            <h2>
                                {{board.FirstName}}
                            </h2>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>