<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <a href="/addBoard" class="btn btn-link pull-left">Add Board</a>
        </div>
    </div>
    <div class="row" ng-repeat="board in boards">
        <div class="col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-3 col-md-3 text-center">
                        <img src="http://bootsnipp.com/apple-touch-icon-114x114-precomposed.png" alt="bootsnipp"
                             class="img-rounded img-responsive" />
                    </div>
                    <div class="col-xs-9 col-md-9 section-box">
                        <a href="/lane/{{board.Id}}">
                            <h2>
                                {{board.Title}}
                            </h2>
                        </a>
                        <hr />
                        <a href="/addLane" class="btn btn-link pull-left">Add Lane</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>