<connectionStrings>
  <add name="MiniTrello.Local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=MiniTrellodb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  <add name="MiniTrello.Remote" connectionString="Server=8cdd4b24-3cbe-4907-80e4-a2de003112c5.sqlserver.sequelizer.com;Database=db8cdd4b243cbe490780e4a2de003112c5;User ID=ettdsrmwepqpvyid;Password=FRU8ptszArBn6jqkoFzzYTUB4gHb48Ma4ppk4oRYAtPAoq68tAxsG3rU5sehSrEB;"/>
</connectionStrings>