<connectionStrings>
  <add name="MiniTrello.Local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=MiniTrellodb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  <add name="MiniTrello.Remote" connectionString="Server=723fdcfe-155e-4fa4-ada8-a2de006579be.sqlserver.sequelizer.com;Database=db723fdcfe155e4fa4ada8a2de006579be;User ID=otdcavocmtrfcyev;Password=fV3FAG3Xtm26obCwdnbFqVNnJywjCmtRX67JnssbZsUW7L2Brth26KHrhN6bkStg;"/>
</connectionStrings>